{% load i18n %}
<li id="assets">
    <a href="#">
        <i class="fa fa-files-o" style="width: 14px"></i><span class="nav-label">#</span><span class="label label-info pull-right"></span>
    </a>
</li>

{% if LICENSE_VALID %}
<li id="applications">
    <a>
        <i class="fa fa-th" style="width: 14px"></i> <span class="nav-label">#</span><span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li id="user-remote-app">
            <a href="#">
                <i class="" style="width: 14px"></i><span class="nav-label">#</span><span class="label label-info pull-right"></span>
            </a>
        </li>
    </ul>
</li>
{% endif %}

{% if SECURITY_COMMAND_EXECUTION %}
<li id="ops">
    <a href="#">
        <i class="fa fa-terminal" style="width: 14px"></i> <span class="nav-label">#</span><span class="label label-info pull-right"></span>
    </a>
</li>
{% endif %}
<li id="users">
    <a href="#">
        <i class="fa fa-user" style="width: 14px"></i> <span class="nav-label">#</span><span class="label label-info pull-right"></span>
    </a>
</li>
<li>
    <a href="#" target="_blank"><i class="fa fa-window-maximize" style="width: 14px"></i>
        <span class="nav-label">#</span>
    </a>
</li>
<li>
    <a href="#" target="_blank"><i class="fa fa-file" style="width: 14px"></i>
        <span class="nav-label">#</span>
    </a>
</li>
