{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Comment  -->
    <meta charset="utf-8">
    <title> {% block title %}Is this can be override? {% endblock %}</title>
    {% include '_head_css_js.html' %}
    {% include '_header.html' %}
    {% block stylesheet %}{% endblock %}
</head>

<body>
    <div id="wrapper">
        {% block body %}
            {% include '_header_bar.html' %}
            {% include '_left_side_bar.html' %}
            <div class="container">
                <ol class="breadcrumb my-4">
                    {% block breadcrumb %}
                    {% endblock %}
                </ol>
                {% block content %}
                {% endblock %}
                {% block onlyforuploadfilescript %}
                {% endblock %}
                {% block onlyforuploadfilejavascript %}
                {% endblock %}
            </div>
        {% endblock body %}

        <!--{% include '_script.html' %}-->
    </div>
</body>

<!--{% include '_footer_css_js.html' %}-->
<!--{% include '_footer.html' %}-->
</html>
