{% extends 'base.html' %}
{% load blog_filtercomment %}

{% block title %}
blog
{% endblock %}

{% block content %}
<div class="content">

  <form method="get" action="{% url 'blog-search' %}">
    {% csrf_token %}
    <input type="search" placeholder="搜索" required name="search">
    <button type="submit">搜索</button>
  </form>

  <form method="get">
    <ul>
    <li><a href="/blog/post">Go Post Your Blog</a></li>
    </ul>
  {% for blog in blogs %}
    <div>
    <!-- {% if messages %} -->
    <!-- {{ messages }} -->
    <!-- {% endif %} -->
    <h5>title:</h5> {{ blog.title }} <br>
    <h5>body:</h5> {{ blog.body }}

      <div class="mt-3">
        <a href="{% url 'blog-comment' blog.id %}"
           class="btn btn-primary btn-sm"
           role="button">Comment</a>
      </div>

      {% if blog|filtercomments %}
      <div>
         <h4>Comment:</h4>
         {% for comment in blog.blog_comment.all %}
            <p> -- {{ comment }}</p>
         {%endfor%}
      </div>
      {% endif %}

     </div>
  <br>----------------------------------<br>
  {% endfor %}
  </form>

{% include 'includes/pagination.html' %}

</div>
{% endblock %}
